footer {
  background: $Very-Dark-Blue;
  padding: 2em 0;
}
.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(5em, auto));
  @include breakpoint-down(medium) {
    align-items: center;
  }

  &__links {
    @include breakpoint-up(large) {
      margin-left: 4em;
    }
    @include breakpoint-down(medium) {
      grid-row: 2;
      margin-bottom: 2em;
    }

    a {
      color: $Vary-Light-Gray;
      display: block;
      margin-bottom: 1em;
      transition: 300ms;
      &:hover {
        color: $Bright-Red;
      }
    }
  }
  &__box {
    position: relative;
    @include breakpoint-down(medium) {
      grid-row: 1;
      margin-left: 3em;
    }

    input {
      display: block;
      padding: 1.1em 3.3em;
      margin-bottom: 5em;
      border-radius: 40px;
      border: none;
      outline: none;
    }
    .go {
      position: absolute;
      top: 0;
      right: -25%;
      border: none;
      outline: none;
      background: $Bright-Red;
      color: #fff;
      width: 50px;
      padding: 0.9em;
      border-radius: 40px;
      cursor: pointer;
    }
  }
  &__icons {
    @include breakpoint-down(medium) {
      grid-row: 5;
      margin-bottom: 1em;
      text-align: center;
      margin-left: 3.5em;
    }

    a {
      color: #fff;
      display: inline-block;
    }
    @include breakpoint-down(medium) {
    }
  }
  &__social {
    @include breakpoint-down(medium) {
      grid-row: 4;
      grid-column: 1;
      @include breakpoint-down(medium) {
        margin-left: 3.5em;
      }
    }
    @include breakpoint-up(large) {
      grid-row: 2;
    }
    margin-bottom: 2em;
    a + a {
      margin-left: 1em;
    }
    a {
      color: #fff;
      transition: 300ms;
    }
    a:hover {
      color: $Bright-Red;
    }
  }
  span {
    display: block;
    color: $Dark-Grayish-Blue;
    @include breakpoint-down(medium) {
      grid-row: 6;
      width: 100%;
      margin-left: 3.5em;
    }
    @include breakpoint-up(large) {
      grid-row: 2;
      grid-column: 4/6;
    }
  }
}
