.simplify {
  background: $Bright-Red;
}
.simplify__container {
  position: relative;

  text-align: center;
  @include breakpoint-up(large) {
    display: flex;
    justify-content: space-between;

    align-items: center;
    text-align: left;
  }

  h2 {
    font-size: 2.5rem;
    margin-bottom: 1em;
    color: #fff;
    @include breakpoint-up(large) {
      margin: 0;
    }
  }
  .btn {
    background: #fff;
    position: relative;
    white-space: nowrap;
    color: $Bright-Red;
  }
}
